@model Clinic_System.Models.Procedure

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Procedure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PractitionerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PractitionerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcedureUsed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcedureUsed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProcedureID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
