@model IEnumerable<Clinic_System.Models.Procedure>

@{
    ViewData["Title"] = "Index";
}
<h2>Current Procedure(s)</h2>

<p>
    <a asp-action="Create">New Procedure</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Procedure Date
            </th>
            <th>
                Medication
            </th>
            <th>
                Follow up Date
            </th>
            <th>
                Complication
            </th>
            <th>
                Procedure Used
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.followupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedureUsed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcedureID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProcedureID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcedureID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
