@model IEnumerable<Clinic_System.Models.Procedure>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PractitionerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureUsed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PractitionerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedureUsed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcedureID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProcedureID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcedureID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
