@model IEnumerable<Clinic_System.Models.Appointment>

@{
    ViewData["Title"] = "Appointments";
}

<h2>Welcome to our Clinic online Booking system</h2>


<p>
    <a asp-action="Create">Book an Appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Appointment Date
            </th>
            <th>
                Appointment Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDescr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
